$color-white: #e8dcd3
$color-dark: #342e28
$color-black: #312514
$header-height: 8vh

.header
	position: fixed
	top: 0
	left: 0
	display: flex
	height: $header-height
	width: 100vw
	flex-direction: row
	align-items: center
	justify-content: center
	background-color: $color-dark
	transition: left 0.3s

	h1
		color: $color-white
		font-size: calc(10px + 2vmin)
		font-family: 'Kaisei Opti', serif
		flex-grow: 1

	.hamburger
		height: 100%
		width: 60px
		background: url("/icon.png") no-repeat center center
		background-size: cover
	//.hide
	//	left: -100vw

.container
	position: absolute
	text-align: center
	background-color: $color-white
	width: 100%
	min-height: 100vh
	padding-top: $header-height
	padding-bottom: 8vh
	color: $color-black
	font-size: 24px

.manifest
	width: 100%
	height: 98vh
	background: url(../img/manifest.jpg) no-repeat center center, linear-gradient(#3d2c23, #00000000)
	background-size: cover
	background-blend-mode: overlay
	padding: 8vh

	h1
		color: $color-white
		font-size: calc(10px + 4vmin)
		font-family: 'Kaisei Opti', serif