@import "variables"

.header
	position: fixed
	top: 0
	left: 0
	display: flex
	height: $header-height
	width: 100vw
	flex-direction: row
	align-items: center
	justify-content: center
	background-color: $color-dark
	transition: left 0.3s

	h1
		color: $color-white
		font-size: calc(10px + 2vmin)
		font-family: 'Kaisei Opti', serif
		flex-grow: 1

.container
	position: absolute
	text-align: center
	background-color: $color-white
	width: 100%
	min-height: 100vh
	padding-top: $header-height
	padding-bottom: 8vh
	color: $color-black
	font-size: 24px

.sidebar
	height: 100%
	width: 0
	position: fixed
	z-index: 1
	top: 0
	left: 0
	overflow-x: hidden
	padding-top: 4rem
	transition: 0.5s
	background-color: $color-indigo
	color: $color-white
	white-space: nowrap
	text-align: left
	a
		margin-left: 2rem
		margin-bottom: 1em
		display: block

.curtain
	display: block
	width: 100vw
	height: 100vh
	position: fixed
	top: 0
	left: 0
	visibility: hidden
	opacity: 0
	transition: visibility .5s, opacity .5s
	background-color: #000

.openNav
	position: relative
	height: $header-height
	width: $header-height
	cursor: pointer
	background: none
	color: white
	font-size: 100%
	border: none
	&::after
		content: '☰'

.closeNav
	position: absolute
	right: 25px
	top: 0
	font-size: 3rem
	&::after
		content: '×'