@import "variables"

.container
	position: absolute
	text-align: center
	background-color: $color-white
	width: 100%
	min-height: 100vh
	padding-top: $header-height
	padding-bottom: 8vh
	color: $color-black

.header
	position: fixed
	top: 0
	left: 0
	z-index: 1
	display: flex
	height: $header-height
	width: 100vw
	flex-direction: row
	text-align: center
	align-items: center
	justify-content: center
	background-color: $color-dark
	transition: width $transition-time, border-radius $transition-time

	h1
		color: $color-white
		font-size: calc(10px + 2vmin)
		font-family: 'Kaisei Opti', serif
		flex-grow: 1
		transition: visibility $transition-time, opacity $transition-time
	
	&.hide
		width: 8vh
		border-radius: 0 0 20px 0
		justify-content: left
		& > h1
			visibility: hidden
			opacity: 0

.container
	position: absolute
	text-align: center
	background-color: $color-white
	width: 100%
	min-height: 200vh
	padding-top: $header-height
	color: $color-black

	& > #main
		display: block
		position: relative
		width: 100%
		min-height: 200vh

.sidebar
	height: 100%
	width: 0
	position: fixed
	z-index: 1
	top: 0
	left: 0
	overflow-x: hidden
	padding-top: 4rem
	transition: 0.5s
	background-color: adjust-color($color-indigo, $alpha: -0.2)
	backdrop-filter: blur(10px)
	color: $color-white
	white-space: nowrap
	text-align: left

	a
		margin-left: 2rem
		margin-bottom: 1em
		display: block

.curtain
	display: block
	width: 100vw
	height: 100vh
	position: fixed
	top: 0
	left: 0
	visibility: hidden
	opacity: 0
	transition: visibility .5s, opacity .5s
	background-color: #000

.openNav
	position: relative
	display: block
	height: $header-height
	width: $header-height
	line-height: $header-height
	color: $color-white
	font-size: 100%
	&::after
		content: '☰'

.closeNav
	position: absolute
	right: 25px
	top: 0
	font-size: 3rem
	&::after
		content: '×'