@import "../variables"

@mixin manifest_title($size)
	color: $color-white
	font-size: $size
	font-family: 'Kaisei Opti', serif
	position: relative
	top: calc(50% - 12vh)
	margin: 0
	transform: translateY(calc(50%))
	text-shadow: stroke(3, $color-black), 0 0 10px $color-black

.manifest
	width: 100%
	height: 100vh
	text-align: center
	box-sizing: content-box
	border-bottom: $color-white 15px solid

	&::before
		content: ""
		position: absolute
		height: 101%
		top: 0
		left: 0
		right: 0
		z-index: -1
		background: url(/img/manifest.jpg) no-repeat center center
		background-size: cover

	h1
		@include manifest_title(calc(12px + 7vmin))

	h4
		@include manifest_title(calc(12px + 2vmin))

.superTitle
	font-size: calc(20px + 10vmin)