.wrapper
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap

.block
	width: 40%
	min-width: 200px
	min-height: 150px
	background-color: white
	border-radius: 1em
	margin: .5em
	padding: .5em
	display: flex
	flex-direction: column
	justify-content: center

	&.unavailable
		filter: opacity(0.8) brightness(0.7)

	& > p
		margin: .3rem

	.title
		font-size: 1em

	.content
		font-size: .7em
		color: gray